            <div id="check_length">
                <div>
                <label>
                 <span>Convert</span>
                 <select name="current">
                    <option value="Foot">Foot</option>
                    <option value="Inch">Inch</option>
                    <option value="Yard">Yard</option>
                    <option value="Mile">Mile</option>
                    <option value="Kilometer" selected>Kilomieter</option>
                    <option value="Meter">Meter</option>
                 </select>
                 </label>
                <label>
                  <span>&#8594; To:</span>
                 <select name="converted">
                   <option value="Foot">Foot</option>
                    <option value="Inch">Inch</option>
                    <option value="Yard">Yard</option>
                    <option value="Mile" selected>Mile</option>
                    <option value="Kilometer">Kilomieter</option>
                    <option value="Meter">Meter</option>
                 </select>
                  </label>
                  </div>
                 <input type="text" placeholder="Enter Length">
                 <input type="hidden" value="Length">
           </div>