            <div id="check_whight">
                <div>
                <label>
                 <span>Convert:</span>
                 <select name="current">
                     <option value="KG" selected>Kilograms</option>
                     <option value="Grams">Grams</option>
                     <option value="Pounds">Pounds</option>
                     <option value=Ounces>Ounces</option>
                     <option value="Stones">Stones</option>
                 </select>
                 </label>
                <label>
                  <span>&#8594; To:</span>
                 <select name="converted">
                     <option value="KG">Kilograms</option>
                     <option value="Grams">Grams</option>
                     <option value="Pounds">Pounds</option>
                     <option value=Ounces selected>Ounces</option>
                     <option value="Stones">Stones</option>
                 </select>
                  </label>
                  </div>
                 <input type="text" placeholder="Enter Weight">
                 <input type="hidden" value="Weight">
           </div>
